.customize-screen {
    font-size: 1rem;
    max-width: 700px;
    margin: auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Rakkas', serif;
    color: #333;
}

.customize-screen h2 {
    font-size: 2.5rem;
    color: #03d000;
    margin-bottom: 1.5rem;
    text-align: center;
}

.customize-screen h3 {
    font-size: 2rem;
    color: #03d000; /* Green color */
    margin-bottom: 1.5rem; /* Increased space below heading */
    text-align: center;
}

.customize-screen button {
    display: inline-block;
    padding: 0.5rem .5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: #03d000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.customize-screen button:hover {
    background-color: #02b300;
    transform: translateY(-2px);
}

.customize-screen .category {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.customize-screen .category h3 {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    font-size: 1.5rem;
    color: #03d000;
    float: right;
}

.Maininput {
    width: 90%;
}

.customize-screen .category .button-container {
    float: left;
}

.customize-screen .category .button-container button {
    margin-right: 0.5rem;
}

.customize-screen .category .item-list {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.customize-screen .category .item-list li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-screen .category .item-list li button {
    margin: 0;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    background-color: #03d000; 
}

.customize-screen .category .item-list li button:hover {
    background-color: #02b300; }

.customize-screen .save-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.customize-screen .save-buttons button {
    flex: 1;
    margin: 0 0.5rem;
}

.inthesameline {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    margin-bottom: 1rem; 
}

.inthesameline input {
    flex: 1; 
}

.inthesameline button {
    padding: .3rem 1rem;
}
