@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: center;
  user-select: none;
  font-family: 'Rakkas', serif;
  direction:rtl;
}

#logo {
  height: 6em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}
#details{
  margin-bottom: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  display: grid;
  width: 280px;
  height: 150px;
  padding: 1em;
  grid-gap: 7px; 
}
.player {
border: 2px solid #03d000;
border-radius: 4px;

}
#name{
  margin-bottom: 0.5em;
  margin-top: .5em;
  font-size: 1.3em;
  font-weight:600;
}
#delete{
  margin-bottom: 1em;
}

.players{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-auto-rows: auto;
grid-gap: 1rem;
}


.stage {
border: 2px solid #03d000;
border-radius: 4px;
padding: .5rem;
font-size:1.1em ;
font-weight:600;
transition: border-color 0.25s;
}

.stages{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-auto-rows: auto;
grid-gap: 1rem;
}

.Welcome{
  font-size: 1.4rem;
  margin: 0;
  font-weight: 700;
}

#start{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #03d000;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: 600;
}
#start:hover {
  border-color: #ffffff;
}


.next {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 6em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #03d000;
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.25s;
}
.next:hover {
  border-color: #ffffff;
}

.info{
  margin-top: -1rem;
}